{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <a href={% url 'home' %} class="">Gallery App</a>

        <nav>
            <ul class="">
                <li><a href={% url 'home' %}>Home</a></li>
                <li><a href={% url 'posts' %}>Publicaciones</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form action={% url 'logout' %} method='POST'>
                            {% csrf_token %}
                            <button type="submit">Salir</button>
                        </form>
                    </li>                    
                {% else %}
                    <li><a href={% url 'register' %}>Registrarse</a></li>                    
                    <li><a href={% url 'login' %}>Ingresar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}        
</body>
<footer>
    Gallery App - Simple Galeria
</footer>
</html>