* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "navbar navbar navbar"
    "content content content"
    "pie pie pie";

  grid-template-rows: 50px auto 80px;

  & > header {
    grid-area: navbar;
    background: #f6f5f4;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;

    & a {
      margin: 0px 10px;
      color: #9a9996;
    }

    & > a:nth-child(1) {
      font-weight: bold;
    }

    & > nav > ul {
      display: flex;
    }
  }

  & > .content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  & > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: pie;
    background: #f6f5f4;
    color: #9a9996;
  }

  @media screen {
    @media (max-width: 768px) {
    }

    @media (max-width: 390px) {
      & > header {
        & > a:nth-child(1) {
          display: none;
        }
      }
    }
  }
}

.clamp {
  max-width: 1600px;
}

.login-wrapper {
    flex-grow: 1;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        color: #9a9996;
        width: 300px;        
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        background-color: #f6f5f4;
        box-shadow: 1px 3px 5px #c0bfbc;
        padding: 20px;        

        & > form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            & > ul {
                text-align: center;
                & > li {
                    font-size: small;
                }
            }

            & > div {
                width: 100%;
                display: flex;
                flex-direction: column;                

                & > label {
                    font-weight: bold;
                    font-size: small;
                }

                & > input {
                    height: 30px;
                    border: none;
                    border-radius: 5px;
                    padding: 0px 10px;

                    &:hover {
                        outline: none;
                    }
                }

            }
            
            & > button {     
                border: none;           
                border-radius: 5px;
                background: #3584e4;
                color: #fff;
                height: 30px;

                &:hover {
                    background: #1c71d8;
                }
            }
        }
    }
}

.register-wrapper {
    flex-grow: 1;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        color: #9a9996;
        width: 300px;        
        /* height: 330px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        background-color: #f6f5f4;
        box-shadow: 1px 3px 5px #c0bfbc;
        padding: 20px;        

        & > form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            & > ul {
                text-align: center;
                & > li {
                    font-size: small;
                }
            }

            & > div {
                width: 100%;
                display: flex;
                flex-direction: column;                

                & > label {
                    font-weight: bold;
                    font-size: small;
                }

                & > input {
                    height: 30px;
                    border: none;
                    border-radius: 5px;
                    padding: 0px 10px;

                    &:hover {
                        outline: none;
                    }
                }

            }

            & > div:nth-child(2) {
                & > div {
                    font-size: small;                    
                }
            }

            & > div:nth-child(6) {
                & > div {                    
                    font-size: small;                    
                }
            }

            & > div:nth-child(7) {
                & > div {                    
                    font-size: small;                    
                }
            }
            
            & > button {     
                border: none;           
                border-radius: 5px;
                background: #3584e4;
                color: #fff;
                height: 30px;

                &:hover {
                    background: #1c71d8;
                }
            }
        }
    }
}

.home-wrapper {
  flex-grow: 1;
  height: 100%;
  padding: 10px;

  & > div {
    height: 100%;
    display: flex;
    gap: 10px;

    & > div:nth-child(1) {
      height: 100%;
      display: flex;
      gap: 20px;
      border-radius: 10px;
      padding: 10px 5px;
      margin-top: 70px;      

      & > h1 {
        font-size: medium;
        padding: 0px 10px;
        text-transform: uppercase;
        color: #9a9996;
      }
    }

    & > div:nth-child(1) {        
        display: flex;
        flex-direction: column;
        color: #9a9996;
    }

    & > div:nth-child(2) {
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;

      & > .search-box {
        display: flex;
        gap: 10px;

        & > input {
          flex-grow: 1;
          height: 40px;
          border: none;
          border-radius: 10px;
          padding: 0px 10px;
          font-size: medium;
          background: #f6f5f4;
          color: #9a9996;

          &:focus {
            outline: none;
          }
        }

        & > button {
          height: 40px;
          border: none;
          border-radius: 10px;
          padding: 0px 20px;
          background: #3584e4;
          font-size: medium;
          color: #fff;

          &:hover {
            background: #1c71d8;
          }
        }
      }

      & > .gallery-grid {        
        max-height: max-content;
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 5px;

        & > .image-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: #f6f5f4;
          padding: 10px;

          & > .picture {
            width: 100%;
            height: 250px;
            background-image: url("../img//picture.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }

  @media screen {
    @media (max-width: 768px) {
        & > div {         
            flex-direction: column;

            & > div:nth-child(1) {            
                gap: 0px;
                flex-direction: row;            
                justify-content: space-around;
                margin-top: 0px;   
                
                & > h1 {
                    display: none;
                }
            }

            & > div:nth-child(2) {
              & > .gallery-grid {
                grid-template-columns: repeat(2, 1fr);
              }
            }
          }
        }
    }

    @media (max-width: 390px) {
      & > div {
        flex-direction: column;


        & > div:nth-child(1) {            
            gap: 0px;
            flex-direction: row;            
            justify-content: space-around;
            margin-top: 0px;   
            
            & > h1 {
                display: none;
            }
        }

        & > div:nth-child(2) {
          & > .gallery-grid {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
}
