{% extends "layout/base.html" %}
{% block title %}GalleryApp | Login{% endblock %}
{% block content %}    
    <div class="content">      
        <div class="login-wrapper clamp">  
            <div>
                <h2>Ingresar</h2>            
                <form 
                action="" 
                method="POST" 
                autocomplete="off"                
                >
                    {% csrf_token %}
                    {{ form }}
                    <button 
                        type="submit"                    
                    >Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}